html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: white;
}

body, html{
    height: 100%;    
}

*{
    box-sizing: border-box;
}

a:hover{
    color: blue;
}

h1, .btn{
    font-family: 'Dancing Script', cursive;
}

h2{
    font-family: 'Pacifico', cursive;
    color: #1f8dd6;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.navbar{
    width: 100%;
    background: #2d3e50;
    padding: 10px 0;
}

.navbar .right{
    float: right;
    margin-right: 10px;
}


.navbar li{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    display: inline-block;
}

.navbar:first-child{
 padding-left: 10px;
}


#title{
    margin: 0 auto;
    padding: 30px;
    width: 40%;
    border: 3px solid white;
    font-size: 40px;
    color: white;
    text-align: center;
}

header{
    height: 500px;
    background: #1f8dd6;    
}

header *{
    display: block;
    margin: 10px auto;
    width: 100%;
}

header div{
    z-index: 1;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
}

.arrow-down{
    position: relative;
    background: white;
    z-index: 4;
    width: 100%;
}

.arrow-down::after{
    display: block;
    content: "";
    margin: 0 auto;
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0 solid transparent;
    border-top: 50px solid #1f8dd6;
}

header div *{
    text-transform: uppercase;
}

.btn{
    transition: box-shadow 1s;
    padding: 20px;
    width: 40%;
    border: none;
    font-size: 2em;
    color: #1f8dd6;
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

.btn:hover{
    -webkit-box-shadow: inset 0px 0px 59px -5px rgba(97,97,97,1);
    -moz-box-shadow: inset 0px 0px 59px -5px rgba(97,97,97,1);
    box-shadow: inset 0px 0px 59px -5px rgba(97,97,97,1);
}

.btn:active{
    padding: 19px;
}

.content{
    position: relative;
    background-color: white;
    z-index: 2;
}

.content p{
    color: #8c8c8c;
}

.inline-list li{
    vertical-align: top;
    padding: 15px;
    display: inline-block;
}

div[ng-controller]{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.font-big{
    font-size: 50px;    
}

.font-medium{
    font-size: 30px;    
}

.font-small{
    font-size: 15px;    
}

.row{
    width: 100%;   
}

.col-4{
    width: 33.1%;    
}


.margin-separator-small{
    margin-top: 10px;
    margin-bottom: 10px;
}
.center-text{
    text-align: center;
}


.footer{
    position: relative;
    z-index: 2;
    background: #2d2d2d; 
}

.footer img{
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 10px;
}