<div ng-controller="contact">
    <header>
        <div>
            <h1 id="title">Contact</h1>  
        </div>
    </header>
    <div class="arrow-down"></div>
     <section class="content container">
        <article>
            <ul class="inline-list row">
                <li>
                    <h2 class="font-medium margin-separator-small center-text">Contact me!</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </li>
        </article>
    </section>
</div>
