<div ng-controller="contact">
    <header>
        <div>
            <h1 id="title">Home</h1>   
            <button class="btn">Get Started</button>
        </div>
    </header>
    <div class="arrow-down"></div>
    <section class="content container">
        <article>
            <ul class="inline-list row">
                <li class="col-4">
                    <h2 class="font-medium margin-separator-small center-text">Optimized pages</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </li>
                <li  class="col-4">
                    <h2 class="font-medium margin-separator-small center-text">Responsive design</h2>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
                </li>
                <li  class="col-4"> 
                    <h2 class="font-medium margin-separator-small center-text">Great user experience</h2>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
                </li>
            </ul>
        </article>
    </section>
</div>
